---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <body>
    <main>
      <h1>Trailing Edge</h1>
      <p>
        Hey, I'm Johan. A 20-something year old glitch artist, technologist, and music enjoyer.<br/>
        Take a look at my posts for some of my opinions and select personal experiences. My artworks are linked as well.
      </p>

      <h3>Recent Articles</h3>
      <ul>
        <li><a href="/blog/posts/straw-water-pinstripe">Thoughts on Straw, Water, Pinstripe</a></li>
      </ul>
      <h3>Artworks</h3>
      <ul>
        <li><a href="https://youtu.be/xHjKpnDXVtQ">0x6C6F7374</a></li>
        <li><a href="https://youtu.be/fvLaCeLSii4">0x64756D70</a></li>
        <li><a href="https://youtu.be/Fv0vMJt1dcQ">0x6D65616E646572696E6731</a></li>
        <li><a href="https://youtu.be/FGSylTcqHiE">0x6D6574616C0A</a></li>
        <li><a href="https://youtu.be/OaSh-9WNVl0">0x64616E63650A</a></li>
        <li><a href="https://youtu.be/mLRO5ggVtrQ">0x566964656F53796E6332303235</a></li>
        <li><a href="https://youtu.be/t2vxhzTunuk">0x73757065726D616E</a></li>
      </ul>
    </main>
  </body>
</html>
